.recipe-item {
    min-height: 250px;
    padding: 0.5rem;
    list-style: none;
    text-decoration: none;
    color: black;
}

.recipe-item li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-img {
    width: 80%;
}

.recipe-title {
    margin: 0.5rem 0 0 0;
    max-width: 200px;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
}
