.recipe-item {
    min-height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
}

.recipe-img {
    width: 80%;
    height: auto;
}

.recipe-name {
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: 1.1rem;
}
