.ingredient-item {
    cursor: pointer;
    min-height: 200px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    color: #432818;
}

.ingredient-img {
    width: 80%;
}

.ingredient-title {
    margin: 0.5rem 0 0 0;
    max-width: 200px;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
}

.ingredient-item:hover {
    color: #6f4518
}
